/* BLOQUEO TOTAL DE SCROLL PARA COMPORTAMIENTO TIPO APP */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden; 
  overscroll-behavior: none; 
  background: #dcd6c8; 
  font-family: Beth Ellen;
  color: #295C48;
  display: flex; 
  align-items: center;
  justify-content: center;
}

/* CAJA PRINCIPAL DE LA INVITACIÓN */
.invitation{
  width:100%;
  max-width:412px;
  height: 100dvh; 
  max-height: 850px; 
  background:rgb(255, 249, 230);
  position: relative;
  overflow: hidden; 
  box-shadow: 0 10px 30px rgba(0,0,0,0.15); 
}

/* BASE COMÚN PARA TODAS LAS PANTALLAS */
#pantalla1, #pantalla2, #pantalla3, #pantalla-no {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Ocultamos las secundarias de inicio */
#pantalla2, #pantalla3, #pantalla-no {
  display: none;
}

/* Estilo común de imágenes de fondo */
img.fondo{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover; 
  object-position:top center; 
  z-index:0;
}

/* ------------------ PANTALLA 1 ------------------ */
#abrir{
  position:absolute;
  
  /* NUEVA FÓRMULA: Rastrea el ancho de la pantalla para subir si se estrecha */
  top: min(73vw, 300px); 
  
  left:50%;
  transform:translateX(-50%);
  
  /* NUEVA FÓRMULA: Se hace pequeño dinámicamente si se estrecha la pantalla */
  font-size: clamp(9px, 3.2vw, 13px);
  
  text-align:center;
  white-space: nowrap;
  z-index: 1;
}

/* ------------------ PANTALLA 2 ------------------ */
.nombres{
  position:absolute;
  /* Más apretado hacia arriba */
  top: max(15%, 100px);
  left:50%;
  transform:translateX(-50%);
  text-align:center;
  width:100%;
  z-index: 1;
}
.nombres h1{ font-size:26px; }

.nombres h4,
.nombres h1 {
  margin: 0;
}
.nombres h4 {
  margin-bottom: 4px;
}

.ilustracion{
  position:absolute;
  /* Más pegado a los nombres */
  top: max(40%, 210px);
  left:50%;
  transform:translateX(-50%);
  width:73%;
  text-align:center;
  z-index: 1;
}
.ilustracion img{ width:100%; height:auto; }

.fecha{
  position:absolute;
  /* Más pegada a las flores */
  top: max(54%, 310px); 
  left:50%;
  transform:translateX(-50%);
  text-align:center;
  z-index: 1;
}
.fecha h3{ font-size:18px; margin: 0; }

.ilustracion2{
  position:absolute;
  /* Más pegado a la fecha */
  top: max(62%, 360px); 
  left:50%;
  transform:translateX(-50%);
  width:8%; 
  text-align:center;
  z-index: 1;
}
.ilustracion2 img{ width:100%; height:auto; }

.bloque-secundario{
  font-family:'Averia Serif Libre', serif;
  position:absolute;
  bottom: 3%; 
  left: 20%; 
  width: 60%; 
  display:flex;
  flex-direction:column;
  gap:0px; 
  z-index: 1;
}

.bloque-secundario .item{
  display:flex;
  align-items:flex-start;
  gap: 10px; 
  margin: 0;
  padding: 0;
}

.bloque-secundario .icono{
  width:36px;
  height:36px;
  object-fit:contain;
  margin-top:4px;
}

#seccion-ubicacion.item {
  align-items: center !important;
  flex-direction: row !important;
}
#seccion-ubicacion.item .icono {
  margin-top: 0 !important;
  flex-shrink: 0;
}
#seccion-ubicacion.item p {
  margin: 0 !important;
  padding: 0;
  line-height: 1;
}

.invitation a{
  color:#295C48;
  text-decoration: underline; 
}
.invitation a:hover{ 
  color: #1e4536; 
}

.bloque-secundario img{ height:auto; width:auto; }
img{ width:100%; height:auto; }

#formAsistencia input[type="text"],
#formAsistencia textarea {
    width: 100%;
    max-width: calc(100% - 46px);
    height: 30px;
    box-sizing: border-box;
    font-family: 'Averia Serif Libre', serif;
    padding: 5px;
    resize: none;
}
#formAsistencia button {
  transform: translate(-27px, -6px);
  background-color: #295C48;
  color: #eeecff;
  font-family: 'Averia Serif Libre', serif;
  font-size: 12px;
  padding: 6px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#formAsistencia button:hover {
  background-color: #1e4536;
}
.boton-centro {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  width: 100%;
}

/* ------------------ PANTALLA 3 (SÍ) ------------------ */
.texto-pantalla3 {
  position:absolute;
  top:25%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
  z-index:1;
  color:#b86831;
  padding:0 10px; 
}
.texto-pantalla3 h2 {
  font-size:22px;
  margin-bottom:8px;
}
.texto-pantalla3 h4 {
  font-size:16px;
  line-height:1.2;
  margin-top:0; 
  white-space: nowrap;
  font-family:'Averia Serif Libre', serif;
}

.app-bloque{
  position:absolute;
  top:35%;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  align-items:center;
  justify-content:center;
  gap:8px;
  z-index: 1;
}
.app-bloque p{
  margin:0;
  font-size:16px;
  line-height:1.2;
  text-align:left;
  font-family:'Averia Serif Libre', serif;
}

.app-icono{
  width:36px;
  height:auto;
}

.bloque-izquierda {
  position: absolute;
  top: 53%;
  left: 27%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  z-index: 1;
}

.bloque-derecha {
  position: absolute;
  top: 63%;
  right: 27%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  z-index: 1;
}

.evento {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icono-evento {
  width: 36px;
  height: 36px;
  margin-bottom: 4px;
}

.evento p {
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  font-family: 'Averia Serif Libre', serif;
  color: #b86831;
}
.titulo-evento {
  font-size: 16px;
  color: #b86831;
  margin-bottom: 4px;
  font-family: 'Beth Ellen';
}
.titulo-cronologia {
  position: absolute;
  top: 43%;   
  left: 35%;  
  transform: translateX(-50%); 
  font-size: 18px; 
  font-family: 'Beth Ellen'; 
  color: #b86831;
  text-align: center;
  z-index: 1;
}
.decoracion {
  position: absolute;
  top: 72%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 45px;
  height: auto;
  z-index: 1;
}
.final-texto {
  position: absolute;
  bottom: 1%; 
  left: 50%;
  transform: translateX(-50%); 
  font-size: 14px;
  font-family: 'beth ellen';
  color: #b86831;
  text-align: center;
  z-index: 1;
}

/* ------------------ PANTALLA 4 (NO) ------------------ */
.texto-no-arriba {
  position:absolute;
  top: 25%; 
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
  z-index:1;
  color:#b86831;
  font-size:26px;
  margin:0;
  font-family: 'Beth Ellen';
  width: 100%;
}

.texto-no-abajo {
  position:absolute;
  top: 70%; 
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
  z-index:1;
  color:#b86831;
  font-size:18px;
  line-height:1.4;
  margin:0; 
  white-space: nowrap;
  font-family:'Averia Serif Libre', serif;
}

/* =========================================================
   SALVAVIDAS PARA MÓVILES BAJITOS (Menos de 700px de alto)
========================================================= */
@media (max-height: 700px) {
  
  .ilustracion { top: max(38%, 180px); width: 65%; }
  .fecha { top: max(52%, 270px); }
  .ilustracion2 { top: max(60%, 310px); }
  
  .bloque-secundario { 
    transform: scale(0.85); /* Encogemos el form un poco más para que quepa seguro */
    transform-origin: bottom left; 
    bottom: 2%; 
  }

  .bloque-izquierda { top: 51%; }
  .bloque-derecha { top: 61%; }
  .decoracion { top: 75%; }
}